<% provide(:title, @product.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= image_tag(@product.image_url, height: "50px", width: "50px",  alt: @product.title) %>
      <h1>
        <%= @product.title %>
      </h1>
      <li><%= "Description: " + @product.description %></li>
      <li><%= "Version: " + @product.version %></li>
      <li><%= "Languages Supported: " + @product.languages %></li>
      <span class="price"><%= "Price: " + number_to_currency(@product.price) %></span>

      <% if admin_user? %>
      <li><%= link_to "Edit Item", edit_product_path(@product)%></li>
          <% end %>
    </section>
  </aside>
</div>